/* 스타일은 그대로 유지 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    width: 90%;
    height: 80%;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.query-input, .query-result {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
}

.query-input {
    background-color: #ffffff;
    border-right: 1px solid #ccc;
}

textarea {
    width: 50%; /* 너비를 50%로 설정 */
    height: 100px; /* 높이를 100px로 설정하여 더 크게 만듬 */
    padding: 10px;
    font-size: 20px;
    font-weight: 700; /* 글씨 굵기를 더 굵게 설정 (700은 굵은 글씨) */
    border-radius: 5px;
    border: 1px solid #ccc;
    resize: vertical; /* 수직으로만 크기 조정 가능 */
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

.query-result {
    background-color: #ffffff;
    border-left: 1px solid #ccc;
}

/* 유저 아이디 입력과 버튼을 위한 스타일 */
#user-id-input {
    width: 60%; /* 입력 필드 너비 */
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px; /* 버튼과 간격 */
}

#get-diary-count-btn {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

#get-diary-count-btn:hover {
    background-color: #0056b3;
}

/* 결과 테이블 스타일 */
#result-table {
    margin-top: 20px;
    display: block;
}

table {
    width: 500%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f4f4f4;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

tr:hover {
    background-color: #f1f1f1;
}
